footer{
    background: var(--color-primary);
    padding: 3rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 7rem;
    


}
footer a{
    color: var(--color-bg);
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;

}

.footer__socials{
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer__socials a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 20%;
    display: flex;
    border: 1px solid transparent;
}
.footer__socials a:hover{
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright{
    margin-bottom: 4rem;
    text-align: center;
    color: var(--color-bg);
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media (max-width: 1024px) {
 
    footer{
        margin-top: 34rem;
    }
    
    
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media (max-width: 600px) {
  .permalinks{
    flex-direction: column;

  }
  .footer__copyright{
    margin-bottom: 4rem;
  }

       
    }
  
